@inject MVC.Services.PlanetService planetService;

<h1>
    Các Hành tinh trong hệ mặt trời
</h1>
<div class="list-group">
    @foreach (var item in planetService)
    {
        <a class="list-group-item list-group-item-action" asp-action="@item.Name">
            @item.Name - @item.VnName
        </a>
    }
</div>