

<p>Do you want to delete db ?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">
        Delete db
    </button>
    <hr>
    <a asp-action="Index">
        Manage database
    </a>
</form>